.citacao{
    background: lightgreen; 
   
}
.logo{
    display:inline-block;
    float: left;
    height: 9em;
   
}
.logo .logo-img{
    display:inline-block;
    background-image: url("../img/logo_small.png");
    background-size: 86px 88px;
    width: 86px;
    height: 88px;
    margin: 10px;
}
.titulo{
    font-size:3em;
    color: dimgray;
    position: relative;
    bottom: 1em;
}
.login{
    display:inline-block;
    float:right;
    padding-top: 10px; 
}
.busca .busca-item{
    height:4em;
    padding-top:5px;
    text-align:center;
    background-color:white;
    border: none;

    /*border: 1px solid black;*/

    vertical-align: middle;
}


.busca .busca-item input,
.busca .busca-item select,
.busca .busca-item label{
    margin:auto;
    margin-left: 0px !important;
    vertical-align: middle;
}

.separador{
    width:15px;
}
.imagem-principal{
    margin-top:60px;
    position: relative;
    top: 3em;
    border: 1px solid lightgray !important;
}
.imagem-principal img{
    width: 90%;
    margin: auto;
}
.busca .busca-btn-submit button{
    margin-top:5px;
    width:120px !important;
}

.alinhar_esq{
    text-align:left;
}

.img_produto{
    width:100%;
}

.alinhar_dir{
    float:right;
    text-align:right;
}


.verde {
    font-weight: 3em;
    font-size: 3em;
    color: #fff;
}

.subtitulo {
    font-size: 2em;
}

.transporte {


}
.produto {
    position:relative;
    right: 0.70em;
}

.navbar {
    background-color: lightgray;
    border-radius: none !important;
}

.tituloDescricao {
    font-weight: 3em;
    font-size: 3em;
    color: limegreen;
    position: relative;
    left: 0.7em;
}

.subtituloDescricao {
    font-weight: 3em;
    font-size: 2em;
    color: dimgray;
    position: relative;
    left: 1em;
}

.descricaoGeral{
    position: relative;
    top: 6em;
    background-color: #eaebed;
    border-radius: 5px;
    height: 9em;
}

.botao-enviar {
    position: relative;
    right: 0.7em;
    bottom: 1em;
}

.footer {
    width: 100%;
    height: 3em;
    background-color: #eaebed;
}

.footerText {
    text-align: center;
    vertical-align: middle;
}

.modal-open{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin-bottom: 0px;
}
.modal-open .fundo{   
    position:fixed; 
    background-color: black;
    opacity: 0.5; 
    width: 100%;
    height: 100%;
}
.modal-open .cadastrar{
    position: relative;
    margin-top: 100px;
}
.modal-open .section {
    position: relative;
    max-height: 80%;
    margin-top: 1%;
    z-index: 10;
}
.modal-open .section .thumbnail{
    max-height: 100%;
    background-color: white;
    position: fixed;
    overflow-x: auto;
}