.citacao{
    background:#CCC; 
    color:#FFF;
}
.logo{
    display:inline-block;
    float: left;
   
}
.logo .logo-img{
    display:inline-block;
    background-image: url("../img/logo_small.png");
    background-size: 86px 88px;
    width: 86px;
    height: 88px;
    margin: 10px;
}
.titulo{
    font-size:34px;
    padding-left: 10px;
    color:#CCC;
}
.login{
    display:inline-block;
    float:right;
    padding-top: 10px; 
}
.busca .busca-item{
    height:90px;
    padding-top:5px;
    text-align:center;
    background-color:white;
    border: 1px solid black;
    vertical-align: middle;
}
.busca .busca-item input,
.busca .busca-item select,
.busca .busca-item label{
    margin:auto;
    margin-left: 0px !important;
    vertical-align: middle;
}

.separador{
    width:15px;
}
.imagem-principal{
    margin-top:60px;
}
.imagem-principal img{
    width: 90%;
    margin: auto;
}
.busca .busca-btn-submit button{
    margin-top:5px;
    width:120px !important;
}