<!DOCTYPE html>
<html lang="pt" ng-app="hackfaesa">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta charset="UTF-8">
    <title>HackFaesa - AgriculturaCompartilhada</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/estilo.css" /> </head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body ng-controller="HomeController as vm">


    <div class="modal-open" ng-show="vm.modalLogin">
        <div class="fundo" ng-click="vm.fecharLogin()"></div>
        <div class="cadastrar">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xg-4 col-sm-offset-4 col-lg-offset-4 col-xg-offset-4 well">
                            <form role="form">
                                <div class="form-group">
                                    <label class="control-label" for="email-login">Email</label>
                                    <input class="form-control" id="email-login" placeholder="Email" type="email" ng-model="vm.userLogin.email">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="senha-login">Senha</label>
                                    <input class="form-control" id="senha-login" placeholder="Senha" type="password" ng-model="vm.userLogin.senha">
                                </div>
                                <div class="row text-center">
                                    <button type="button" class="btn btn-default" ng-click="vm.fecharLogin()">Voltar</button>
                                    <button type="submit" class="btn btn-default" ng-click="vm.efetuarLogin()">Entrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-open" ng-show="vm.modalCadastro" >
        <div class="fundo" ng-click="vm.fecharCadastro()"></div>
        <div class="cadastrar">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xg-4 col-sm-offset-4 col-lg-offset-4 col-xg-offset-4 well">
                            <form role="form">
                                <div class="form-group">
                                    <label class="control-label" for="nome-cadastro">Nome</label>
                                    <input class="form-control" id="nomde-cadastro" placeholder="Nome" type="text" ng-model="vm.userCadastro.nome"> </div>
                                <div class="form-group">
                                    <label class="control-label" for="email-cadastro">Email</label>
                                    <input class="form-control" id="email-cadastro" placeholder="Email" type="email" ng-model="vm.userCadastro.email"> </div>
                                <div class="form-group">
                                    <label class="control-label" for="senha-cadastro">Senha</label>
                                    <input class="form-control" id="senha-cadastro" placeholder="Senha" type="password" ng-model="vm.userCadastro.senha"> </div>
                                <div class="form-group">
                                    <label class="control-label" for="senha-cadastro-confirma">Confirmar senha</label>
                                    <input class="form-control" id="senha-cadstro-confirma" placeholder="Senha" type="password" ng-model="vm.userCadastro.senhaConfirma"> </div>
                                <div class="row text-center">
                                    <button type="button" class="btn btn-default" ng-click="vm.fecharCadastro()">Voltar</button>
                                    <button type="submit" class="btn btn-default" ng-click="vm.efetuarCadastro()">Entrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-open" ng-show="vm.itemDetalhes !== null">
        <div class="fundo" ng-click="vm.fechaDetalhes()"></div>
        <div class="section">
            <div class="container">
                <div class="thumbnail">
                    <div class="row">
                      <div class="container">
                       <h1 ng-bind="vm.itemDetalhes.titulo"></h1> 
                        </div>
                        <div class="col-xs-6 col-xs-offset-3">
                            <div class="caption">
                                
                                <img ng-src="img/banana1.png" style="width:100%" class="img-responsive img-rounded img_produto">
                                <br> </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p ng-bind="vm.itemDetalhes.descricao"> </p>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                <h2>Informações do Produto</h2>
                                <p><strong>Produto: </strong>{{vm.itemDetalhes.produto}}</p>
                                <p><strong>Valor: </strong>{{vm.itemDetalhes.valorUnitario | currency:"R$:"}} / {{vm.itemDetalhes.unidadeMedida}}</p>
                                <p><strong>Quantidade disponivel: </strong>{{vm.itemDetalhes.quantidadeTotal}} {{vm.itemDetalhes.unidadeMedida}}</p>
                                <p><strong>Data inicio: </strong>{{vm.itemDetalhes.dateInicio | date:'dd/mm/yyyy'}}</p>
                                <p><strong>Data validade: </strong>{{vm.itemDetalhes.dataExpira | date:'dd/mm/yyyy'}}</p>
                                <p><strong>Dias disponiveis: </strong>{{vm.itemDetalhes.diasDisponiveis ? vm.itemDetalhes.diasDisponiveis : 'Todos os dias'}}</p>
                            </div>
                            <div class="col-xs-6">
                                <h2>Informações do Fornecedor</h2>
                                <p><strong>Nome: </strong>{{vm.itemDetalhes.nomeUsuario}}</p>
                                <p><strong>Telefone: </strong>{{vm.itemDetalhes.telefone}}</p>
                                <p><strong>Email: </strong>{{vm.itemDetalhes.email}}</p>
                                <p><strong>Endereço: </strong>{{vm.itemDetalhes.endereco}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-app navbar-top">
        <div class="mavbar-brand">
            <div class="logo">
                <div class="logo-img"></div> <span class="titulo" ng-bind="vm.titulo">Agribook.</span> </div>
            <div class="login">
                <span class="btn " ng-click="vm.cadastrar()">Tornar-se menbro</span>
                <span class="btn " ng-click="vm.ajuda()">Ajuda</span>
                <span class="btn " ng-click="vm.acessar()">Entrar</span>
            </div>
        </div>
    </div>

   
    <div class="container">
        <div class="row">
            <div class="well citacao">
                <div class="verde">Encontre, Anuncie, Explore.</div>
                 <div class="subtitulo">Produtos Naturais de agricultores perto de você.</div>
            </div>
        </div>

        <div class="row busca">
            <form class="form-inline">
                <div class="col-xs-12">
                    <div class="busca-container">
                        <div class="row thumbnail">
                            <div class="form-group col-md-3 col-xs-12 busca-item menu_borda_esq">
                                <label for="onde">Onde</label>
                                <select class="form-control" id="onde" ng-model="vm.itemBusca.onde">
                                    <option value="Marechal Floriano">Marechal Floriano</option>
                                    <option value="Domingos Martins">Domingos Martins</option>
                                    <option value="Rio Bananal">Rio Bananal</option>
                                </select>
                            </div>
                            <div class=" col-md-3 col-xs-12 busca-item  menu_borda">
                                <div class="radio">
                                    <label class="produto">
                                        <input  type="radio" name="tipo" id="tipo-produto" value="produto" checked ng-model="vm.itemBusca.tipo"> Produto </label>
                                </div>
                                <div class="separador"></div>
                                <div class="radio">
                                    <label class="transporte">
                                        <input  type="radio" name="tipo" id="tipo-transporte" value="transporte" ng-model="vm.itemBusca.tipo"> Transporte </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12  busca-item  menu_borda">
                                <div class="form-group">
                                        <label for="inicio">Quando</label>
                                        <input type="date" class="form-control" id="inicio" ng-model="vm.itemBusca.inicio"> 
                                </div>
                                
                            </div>
                            <div class="form-group  col-md-3 col-xs-12  busca-item  menu_borda_dir">
                                <label for="nomeProduto">Busca</label>
                                <input type="text" class="form-control" ng-model="vm.filtro" /> 
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="form-group col-xs-3 busca-btn-submit pull-right botao-enviar">
                    <button type="submit" class="btn btn-success pull-right" ng-click="vm.buscar()">Buscar</button>
                </div>
            </form>
        </div>


        <div class="row busca" ng-show="vm.items.length > 0">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xg-6">
                <div class="resultado" ng-repeat="item in vm.items | orderBy: $index">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xg-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h2 ng-bind="item.titulo"></h2> <img ng-src="img/banana1.png" class="img-responsive img-rounded img_produto">
                                <br>
                                <label class="alinhar_esq" ng-bind="item.produto">Banana</label>
                                <label class="alinhar_dir">{{item.valorUnitario | currency}}</label>
                                <p>{{item.descricao}}</p>
                                <label class="alinhar_esq" ng-bind="item.nomeUsuario"></label>
                                <button type="submit" class="btn btn-info alinhar_dir" ng-click="vm.detalhes(item)">Ver mais...</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xg-6">
                <div class="map"> <img src="img/map.png" alt="mapa" class="img-responsive center-block" /> </div>
            </div>
        </div>


        <div class="row">
            <div class="descricaoGeral">
                <div class="tituloDescricao">Produtores, Motoristas e Compradores</div>
                 <div class="subtituloDescricao">Unidos abrindo caminhos para os melhores produtos agrícolas da região.</div>
            </div>
        </div>

        <div class="row imagem-principal"> <img src="img/Esquema.png" alt="mapa" class="img-responsive center-block" /> </div>
    </div>
    <br>
    <br>
    <br>
    <div class="footer">
        <div class="footerText">Todos os direitos reservados 2016 ®</div>
    <div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/home.controller.js"></script>
    <script src="js/home.service.js"></script>
</body>

</html>